* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* To prevent padding and margin issues */
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

